* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, san-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p {
  font-size: 1rem;
}

body > header {
  display: flex;
  justify-content: space-between;
}

body > header nav a {
  padding: 0.5em 0.8em;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
}

body > header nav a:hover {
  /* font-weight: bold; */
  background-color: yellow;
}

body > header nav a.active {
  background-color: rgb(255, 255, 184);
}

body > header nav ul {
  height: 100%;
  margin: 0;
}

body > header nav li {
  margin-left: 1em;
}

#siteLogo {
  max-width: 50px;
  margin: 50px;
  margin-left: 15px;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.no-bullets a {
  text-decoration: none;
  color: black;
}

#banner {
  position: relative;
  overflow: hidden;
}

#banner img {
  margin-bottom: -20%;
}

#banner h1 {
  position: absolute;
  top: 42%;
  left: 6%;
  color: white;
  font-size: 3rem;
}

main {
  min-height: 500px;
}

body > footer {
  background-color: #ceefff;
  border: 1px solid #ceeff;
  text-align: center;
  padding: 10px;
 
}


.social-media {
  justify-content: center;
}

.social-media li {
  margin-right: 1em;
}


.social-media img {
  height: 25px;
}



.footer-menu  {
  justify-content: center;
  
}

.footer-menu li {
  margin-right: 1.5em;
}

.footer-menu a:hover {
  text-shadow: 0 0 .65px #303030, 0 0 .65px #303030;
}